[submodule ".claude/shrimp_data"]
	path = .claude/shrimp_data
	url = https://github.com/dadavidtseng/shrimp_data_DaemonCraft.git
[submodule "Engine"]
	path = Engine
	url = https://github.com/daemon-engine/DaemonEngine.git
